<!DOCTYPE html>
<html ng-app="LunchCheck" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="lunchcheck.js" charset="utf-8"></script>
    <title>Lunch Check Application</title>
  </head>
  <body>
    <div ng-controller="LunchCheckController">

    <input type="text" name="" value="" ng-model="name1">
    <button type="button" name="button" ng-click="clickbtn();">Action</button>
    <br>The value is {{name1}}
    </div>
  </body>
</html>
